div#cron-selector-container {
  display: flex;
  
}

div#cron-selector-container div.cron-box{
  float: left;
  display:block;
  width: 150px;
  padding: 10px;
}

select.cron-select-box{
  width: 150px;
  font-size: 12px;
  
}
